defaults:
  - override hydra/job_logging: none
  - override hydra/hydra_logging: none
  - _self_

base_dir: .
work_dir: ${base_dir}/output_xama_validation

hydra:
  output_subdir: null
  run:
    dir: ${base_dir}


contig_map: null

diffusion:
  enable: false

ligand_mpnn:
  enable: false

colabfold:
    enable: false
    output_dir: ${work_dir}/2b_colabfold
    input_files_dir: ${colabfold.output_dir}/input
    command: pixi run -e colabfold colabfold_batch
    use_templates: true
    custom_template_path:  ${base_dir}/cif/all_loops
    af2_weights_folder: /data/35y/alphafold_params
    msa_mode: single_sequence
    extra_params: "--calc-extra-ptm --num-recycle 4"

boltz:
    input_dir_pattern: ./output_xama/final/top_sequences
    input_file_name: xama_validation
    output_dir: ${work_dir}/2_boltz
    command: "pixi run boltz predict"
    colabfold:
      search_command: "pixi run -e colabfold colabfold_search"
      convert_command: "pixi run -e colabfold python ${base_dir}/prepare_msa_files.py"
      database: /data/jpc/code/database/
      output_folder: msas
      fasta_output_folder: fasta
      merge_fasta: true

    input_files_dir: ${boltz.output_dir}/input
    yaml_files_dir: yaml
    file_pattern: "*.fa"
    base_chain: "MAASSTDNILHFDFPEVQIGTAINPEGPTGITLFYFPKGVQASVDIQGGSVGTFFTQEKMQQGEAYLDGVAFTGGGILGLEAVAGAVSSLFADQTKNEVQFRRMPLISGAVIFDYTPRQNMIYPDKALGQKAFAALSAGQFVQGRHGAGVSASVGKLLRDGFQLAGQGGAFAQIGKTKIAVFTVVNAVGVILDEKGEVIYGLPKGATKQTLNQQVTELLQQPKKPFWPEPKNTTLTIVITNEKLAPRHLKQLGRQVHHALSQVIHPYATILDGDVLYTVSTRSIESDLYAPGADIESDLNAKFIYLGMVAGELAKQAVWSAVGYSHRP"
    partial_chain_start: "MAASS"
    betachain_start: "TTLTIVIT"
    cif_file: ${base_dir}/cif/Nyl12_refine13_no_tail.cif
    boltz_input_template: "templates/boltz.yaml.j2"
    molecule_smiles: "CC(NCC(C=C1)=CC=C1CNC(CCCCC(NCCCCCCNC(CCCCC(NC)=O)=O)=O)=O)=O"
    batch_processing: false
    models_per_sequence: 5
    boltz_params:
      model: boltz2
      output_format: pdb
      use_msa_server: false
      msa_pairing_strategy: greedy
      use_potentials: true
      cache: /data/jpc/code/boltz
      output_dir: ${boltz.output_dir}
      affinity_mw_correction: true
      recycling_steps: 3
      sampling_steps: 200
      diffusion_samples: 1
      no_kernels: true
      extra_params: ""
    constraints: []
    properties:
      - affinity:
           binder: I

relaxation:
    output_dir: ${work_dir}/3_relaxation

filtering:
  output_dir: ${work_dir}/final
  number_of_top_sequences: 20
  backbone:
    enable: false
  affinity:
    enable: true
    filter_relaxed_results: true
    remove_non_relaxable_models: true
    atom_selections_file: ${base_dir}/config/atom_selections.csv
    atom_selections_file_relaxed: ${base_dir}/config/atom_selections_relaxed.csv
    d1_max: 3.2
    d2_max: 3.8
    d3_max: 3.8
    d4_max: 10.0
    a1_min: 80.0
    a1_max: 120.0
    t1_min: 70.0
    t1_max: 110.0
    interface_delta_max: 0
    min_loop_confidences:
      - 70
      - 70
      - 70

