defaults:
  - override hydra/job_logging: none
  - override hydra/hydra_logging: none
  - _self_

base_dir: .
work_dir: ${base_dir}/output_xama

hydra:
  output_subdir: null
  run:
    dir: ${base_dir}


contig_map: "A1-5,A18-114,7-7,A122-150,14-14,A165-221,A233-328,B1-5,B286-292,8-8,B301-308,C1-5,D1-5,D29-35,5-5,D41-95,9-9,D105-110"

diffusion:
  input_dir: ${base_dir}/input_test
  output_dir: ${work_dir}/0_diffusion
  command: "pixi run run-inference"
  num_designs: 11

  inference:
    model_runner: NRBStyleSelfCond
    ligand: "LIG"
    num_designs: ${diffusion.num_designs}
    ckpt_path: /data/jpc/code/rf_diffusion_all_atom/RFDiffusionAA_paper_weights.pt

  model:
    freeze_track_motif: true

  potentials:
    guiding_potential: "type:ligand_ncontacts,weight:1"
    guide_scale: 2
    guide_decay: cubic

  diffuser:
    T: 50


## We're doing design with 3 temperatures, and 5 sequences each.
## This usually gives decent success with designable backbones.
## For more complicated cases consider doing >100 sequences.
ligand_mpnn:
  output_dir: ${work_dir}/1_ligandmpnn
  make_maskdict_command: "pixi run -e ligand ${base_dir}/scripts/make_maskdict_from_trb.py"
  command: "pixi run run-ligand"
  mpnn_temperatures: [0.1, 0.2, 0.3]
  mpnn_outputs_per_temperature: 5
  mpnn_omit_AAs: "C"
  model_params_file: /data/jpc/code/LigandMPNN/model_params/ligandmpnn_v_32_010_25.pt


colabfold:
    enable: true
    output_dir: ${work_dir}/2b_colabfold
    input_files_dir: ${colabfold.output_dir}/input
    command: pixi run -e colabfold colabfold_batch
    use_templates: true
    custom_template_path:  ${base_dir}/cif/all_loops
    af2_weights_folder: /data/35y/alphafold_params
    msa_mode: single_sequence
    extra_params: "--calc-extra-ptm --num-recycle 4"

boltz:
    input_dir_pattern: ${ligand_mpnn.output_dir}/*/seqs
    output_dir: ${work_dir}/2_boltz
    command: "pixi run boltz predict"
    colabfold:
      search_command: "pixi run -e colabfold colabfold_search"
      convert_command: "pixi run -e colabfold python ${base_dir}/prepare_msa_files.py"
      database: /data/jpc/code/database/
      output_folder: msas
      fasta_output_folder: fasta
      merge_fasta: true

    input_files_dir: ${boltz.output_dir}/input
    yaml_files_dir: yaml
    file_pattern: "*.fa"
    base_chain: "MAASSTDNILHFDFPEVQIGTAINPEGPTGITLFYFPKGVQASVDIQGGSVGTFFTQEKMQQGEAYLDGVAFTGGGILGLEAVAGAVSSLFADQTKNEVQFRRMPLISGAVIFDYTPRQNMIYPDKALGQKAFAALSAGQFVQGRHGAGVSASVGKLLRDGFQLAGQGGAFAQIGKTKIAVFTVVNAVGVILDEKGEVIYGLPKGATKQTLNQQVTELLQQPKKPFWPEPKNTTLTIVITNEKLAPRHLKQLGRQVHHALSQVIHPYATILDGDVLYTVSTRSIESDLYAPGADIESDLNAKFIYLGMVAGELAKQAVWSAVGYSHRP"
    partial_chain_start: "MAASS"
    betachain_start: "TTLTIVIT"
    cif_file: ${base_dir}/cif/Nyl12_refine13_no_tail.cif
    boltz_input_template: "templates/boltz.yaml.j2"
    molecule_smiles: "CC(NCC(C=C1)=CC=C1CNC(CCCCC(NCCCCCCNC(CCCCC(NC)=O)=O)=O)=O)=O"
    batch_processing: false
    models_per_sequence: 5
    boltz_params:
      model: boltz2
      output_format: pdb
      use_msa_server: false
      msa_pairing_strategy: greedy
      use_potentials: true
      cache: /data/jpc/code/boltz
      output_dir: ${boltz.output_dir}
      affinity_mw_correction: true
      recycling_steps: 3
      sampling_steps: 200
      diffusion_samples: 1
      no_kernels: true
      extra_params: ""
    constraints:
      - contact:
           token1: [E, 1]
           token2: [I, C57]
           max_distance: 3.0
           force: true
      - contact:
           token1: [A, 186]
           token2: [I, O52]
           max_distance: 3.2
           force: true
    properties:
      - affinity:
           binder: I

relaxation:
    output_dir: ${work_dir}/3_relaxation

filtering:
  enable: true
  filter_relaxed_results: true
  remove_non_relaxable_models: true
  output_dir: ${work_dir}/final
  atom_selections_file: ${base_dir}/config/atom_selections.csv
  atom_selections_file_relaxed: ${base_dir}/config/atom_selections_relaxed.csv
  d1_max: 3.2
  d2_max: 3.8
  d3_max: 3.8
  d4_max: 10.0
  a1_min: 80.0
  a1_max: 120.0
  t1_min: 70.0
  t1_max: 110.0
  interface_delta_max: 0
  min_loop_confidences:
    - 70
    - 70
    - 70

