version: 1
sequences:
  - protein:
      id: [A]
      sequence: {{ alpha_seq }}
      msa: empty
  - ligand:
      id: [B, C]
      smiles: '{{ smiles }}'

templates:
  - cif: {{ cif_file }}

{%- if constraints %}

constraints:
  {{ constraints | to_yaml | indent(2)}}
{%- endif %}

{%- if properties %}

properties:
  {{ properties | to_yaml | indent(2)}}
{%- endif %}
